@use 'variables' as vars;
@use 'mixins' as mix;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: vars.$main-font;
}
body {
  background-color: vars.$navy-950;

  @include mix.tablet {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @include mix.desktop {
    height: 100vh;
  }
}
