@use 'variables' as vars;
@use 'mixins' as mix;

.dashboard__wrapper {
  max-width: 1110px;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr repeat(6, auto);
  gap: 2rem;
  padding: 1rem;

  @include mix.tablet {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  @include mix.desktop {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

.user__panel {
  @include mix.tablet {
    grid-column: 1 / 3;
    grid-row: 1;
    display: flex;
    flex-direction: column;
  }

  @include mix.desktop {
    grid-column: 1;
    grid-row: 1 / 3;
  }
}

.user__profile {
  background: vars.$purple-600;
  padding: vars.$padding-32;
  border-radius: vars.$radius-15;
  display: flex;
  align-items: center;
  gap: vars.$space-24;
  position: relative;
  z-index: 1;

  img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 3px solid white;

    @include mix.desktop {
      width: 78px;
      height: 78px;
      margin-bottom: vars.$space-40;
    }
  }
  .user__details {
    p {
      color: vars.$navy-200;
      font-size: vars.$size-15;
      line-height: 18px;
    }
    .user__name {
      color: vars.$white;
      font-size: vars.$size-24;
      line-height: 28px;
      font-weight: vars.$weight-300;

      @include mix.desktop {
        font-size: vars.$size-40;
        line-height: 47px;
      }
    }
  }

  @include mix.tablet {
    flex: 1;
  }
  @include mix.desktop {
    flex-direction: column;
    align-items: flex-start;
  }
}

.user__controls {
  background: vars.$navy-900;
  padding: vars.$padding-32;
  display: flex;
  justify-content: space-around;
  border-bottom-right-radius: vars.$radius-15;
  border-bottom-left-radius: vars.$radius-15;
  margin-top: -10px;

  @include mix.tablet {
    padding: vars.$padding-24;
  }

  .btn {
    background: none;
    color: vars.$purple-500;
    border: none;
    font-size: vars.$size-18;
    line-height: 21px;

    &.active {
      color: vars.$white;
    }
  }

  @include mix.desktop {
    flex-direction: column;
    align-items: flex-start;
    gap: 21px;
  }
}

.card__image {
  width: 70px;
  height: 70px;
  background-size: cover;
  position: absolute;
  top: -15px;
  right: 25px;
}

.card {
  color: white;
  border-radius: vars.$radius-15;
  // padding: vars.$padding-24;
  position: relative;
  // z-index: -1;
  overflow: hidden;
}

article {
  background-color: vars.$navy-900;
  border-radius: vars.$radius-15;
  padding: vars.$padding-24;
  margin-top: 60px;
  z-index: 1;
  transition: background-color 0.3s linear;

  &:hover {
    background-color: vars.$navy-800;
    cursor: pointer;
  }
}

.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  h3 {
    font-size: vars.$size-18;
    line-height: 21px;
    font-weight: vars.$weight-500;
  }
}
.card__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  position: relative;
  z-index: 1;

  p:first-child {
    font-size: vars.$size-32;
    line-height: 38px;
    font-weight: vars.$weight-300;

    @include mix.tablet {
      font-size: vars.$size-56;
      line-height: 66px;
    }
  }

  p:last-child {
    font-size: vars.$size-15;
    line-height: 18px;
    font-size: vars.$weight-400;
    color: vars.$navy-200;
  }

  @include mix.tablet {
    flex-direction: column;
    align-items: flex-start;
  }

  @include mix.desktop {
    margin-top: vars.$padding-24;
  }
}
